[2014-02-06 19:22] jonheslop opened #1 "Is there a way to expose what Country Maxmind thinks you’re in"
Hey

I wondered if there was a way to expose the country Maxmind returns so I can use it to show a flag. For example… Knowing the language is German doesn’t let me differentiate between Germany or Switzerland. So knowing the country would help here.

[2014-02-11 16:55] #1 closed, assigned to nobody

[2014-03-25 13:10] jonheslop opened #2 "browserLanguage returning null"
Hey there,

The plugin isn’t on our dev site see — http://testeur.rapha.cc/service/returns
If you look in the console you’ll see I put in a few extra logs to `browser-redirect-geoip.js`

I see that the script looks up the country with an AJAX call is this what it calls — http://testeur.rapha.cc/?wpml_geoip=1 because that gives an error:

`
Fatal error: Cannot redeclare geoip_load_shared_mem() (pre

[2014-03-31 08:31] raifster opened #3 "apparent plugin conflict with revslider"
Dear Khromov,

Thank you for the excellent work on this handy plugin!

I am using WPML 2.93 + revslider 3.08. When I enable wp-wpml-geoip-browser-language-redirect revslider stops working in all browsers I have tested (produces grey box instead of slideshow). When I disable wp-wpml-geoip-browser-language-redirect revslider works again.

Happy to grant you access for troubleshooting if required.

C

[2014-04-06 17:08] #3 closed, assigned to nobody

[2015-01-21 23:08] khromov commented on #2
Hey @jonheslop, sorry for the delayed response.

It looks like everything is correct. The only way this would fail is if you are somehow  disallowing window.location from being changed, which can happen with some security extensions in web browsers. I would try this in a few other browsers and maybe a fresh Chrome install without extensions. Closing for now.

[2015-01-21 23:08] #2 closed

[2015-01-26 16:22] tazzje opened #4 "No redirection"
Hi,

I've set up the plugin as follows:

//Array with structure MaxMind Code => WPML Code
		$this->language_mappings = array(
			'US' => 'en', //USA

		);

		//Set the default WPML language which is used if no matching language is found
		$this->default_language = 'nl';

our default webpage is set up via WPML in two languages: dutch (default, for all countries except US - www.domain.com) and Engli

[2015-01-26 16:36] khromov commented on #4
Hi @tazzje,

You need to add both languages to the array, like this:

[code]

The WPML code was gotten from this post:
http://wpml.org/forums/topic/what-country-codes-are-used-by-wpml-by-default/#post-373616

The redirect is only performed once (it sets a cookie), so open a new incognito window every time you are testing. The goal of this plugin is not to "force" people onto a specific language bu

[2015-01-26 16:41] tazzje commented on #4
Hi,

Thanks for the quick response.

Did that, but still no referral up and running… When I visit the website via a US proxy, I still see the regular .com site (not .com/en)

Something else I need to adjust?

Regards,
Niels

[2015-01-26 17:57] khromov commented on #4
Hej tazzje,

Go ahead and enable debug mode:

    var GEOIP_DEBUG = true;

You can change this in the file /js/browser-redirect-geoip.js (change from false to true).

Then, open the javascript console (F12 on Chrome) in an incognito window and visit the root URL of your page. You will see messages in your console. Copy and paste them here.

PS.
Please make sure you actually have translations for a

[2015-01-27 08:34] tazzje commented on #4
Here you go:

 Uncaught browser-redirect-geoip.js:23
TypeError: Cannot read property 'log' of undefined

[2015-01-27 09:35] khromov commented on #4
@tazzje Which browser are you using? You need the latest version of Firefox or Chrome.

[2015-01-27 09:50] tazzje commented on #4
Chrome 40.0.2214.91 (64-bit)

[2015-01-28 00:27] khromov commented on #4
@tazzje Something is not right, you will need to get your javascript console properly working:
https://developer.chrome.com/devtools/docs/console

This plugin is not very friendly to non-developers right now, perhaps I will make a better version in the future but right now I am limited in the amount of support that can be provided. If you get the console running, feel free to reply back in this th

[2015-01-28 16:35] tazzje commented on #4
Hi Stanislav,

Enabling debug mode disabled our header slider, so we had to turn it off. The console itself is running as it should according to our developers.
We recreated the homepage (exact copy) on www.domain.com/test.html <http://www.domain.com/test.html> and I checked it in console: no errors… but still no redirect when I use this page with a US Proxy to the /en site.

Perhaps you could tes

[2015-01-29 00:18] khromov commented on #4
@tazzje

Do you mean that setting:

    var GEOIP_DEBUG = true;

...made your slider not work? That would normally not be possible, but there may be additional javascript issues on the site.

It's really hard for me to conform to a schedule for this sort of support. If you have a development server where you can enable debug for a few days, feel free to send it over to: stanislav.khromov+githubspa

[2015-02-06 14:37] amaurya37 commented on #4
i am also facing the same problem

[2015-02-09 16:50] tazzje commented on #4
Enabled it again, no errors:
sdk.js:61 Invalid App Id: Must be a number or numeric string representing the application id.
follow_button.18d1def08d5e73d6896a990fdb4030dd.nl.html:1 Consider using 'dppx' units, as in CSS 'dpi' means dots-per-CSS-inch, not dots-per-physical-inch, so does not correspond to the actual 'dpi' of a screen. In media query expression: (-webkit-min-device-pixel-ratio: 1.5),

[2015-02-09 22:02] khromov commented on #4
@tazzje ,

If you have nothing in the log, maybe the plugin did not activate successfully. You'd have to check if the browser-redirect-geoip.js file is enqueued from within the plugin folder.

[2015-02-09 22:04] tazzje commented on #4
Yes, it was executed within 300 ms according to my console.

[2015-02-14 17:05] diretur opened #5 "redirect not working"
Hi Stanislav,

the ip redirect is not working. Debug:

browser-redirect-geoip.js:23 Uncaught
Uncaught TypeError: Cannot read property ‘log’ of undefined

Thanks
Marco

[2015-05-07 08:28] hardeep360 commented on #5
Please replace first few lines file js/browser-redirect-geoip.js with following code.  One thing more please deactivate the "WPML Country Detector" plugin as both plugins have same function name. This stops the plugin to work. I have found the issue after spending some hours. Hope this will help.
if(GEOIP_DEBUG)
    {
        //IE 8/9 fix
        if(!window.console)
        {
            var conso

[2015-05-07 08:29] hardeep360 commented on #5
And here is the complete "browser-redirect-geoip.js" JS file code. You can copy paste it.

jQuery(document).ready(function()
{
    var GEOIP_DEBUG = true;

    if(GEOIP_DEBUG)
    {
        //IE 8/9 fix
        if(!window.console)
        {
            var console = {
                log : function(){},
                warn : function(){},
                error : function(){},
                time

[2015-05-07 08:41] hardeep360 opened #6 "geoip_load_shared_mem( ) function exists in WMPL country detector"
Hi,
geoip_load_shared_mem( ) function is already exist in WMPL country detector plugin so this makes the plugin to stop working. Admin please change the name of this function.

For the users who are using this plugin can simply deactivate the "WMPL country detector" plugin to start working language redirect.

Thanks
Hardeep

[2015-05-07 10:06] khromov commented on #6
@hardeep360 I'll have a look at that. Feel free to submit a pull request if you are inclined.

WPML Country Detector seems to have the same functionality as this plugin, is there anything you are missing in their plugin?

[2015-05-07 10:19] hardeep360 commented on #6
Can you make a plugin which will work without language parameter in url?
Like http://example.com rather than http://example.com/?lang=en. I have done this in one site. Language is selecting based on country ip and then i put it in $_GET['lang'] in plugin's php file also save in session.
I used wp_rewrite trick. Like if page call is /products then i add silently /products/?lang=en in rewrites. But

[2015-05-07 10:19] hardeep360 commented on #6
http://vagisil.com is the site where i am doing this functionality.

[2015-05-07 15:48] hardeep360 commented on #6
Yes you are right. Actually i was not known of this fact when i made this site. But here i am saying if a US region the page link is /products  and for CA page link is /productsca (anything other than US link). So if a US person opens same link /products in CA then site should show /productsca page. So here both the page url will be different and no SEO problem.

I will appreciate your help and th

[2015-05-08 08:35] diretur commented on #5
Thanks,

but it is still not working.

Marco Toniolo
Via Medi 8c
6932 Breganzona
Switzerland

phone: +41 79 643 18 36
www.mtb-mag.com | www.bdc-mag.com | www.ridingtroll.com
skype: diretur_marco

On 7 May 2015 at 10:29, hardeep360 <notifications@github.com> wrote:

[2015-05-08 09:26] hardeep360 commented on #5
Hi,
What is the problem? Can you please tell me about the error it is showing?

Thanks
Hardeep

[2015-05-08 11:28] diretur commented on #5
solved, thanks

[2015-05-19 07:44] diretur commented on #5
Two questions:
1) is there a way to redirect before the user sees the default language?
2) My third language does not get redirected

thanks

[2015-05-20 16:47] khromov commented on #5
Hey @diretur

1.) No. The redirect is implemented in JavaScript via AJAX. This is to to bypass any full-page caching plugin that may be in use. Thanks to th is though, you can use a caching plugin. :-)

2.) Please make sure you have the language_mappings correct. WPML code can be anything you set when you configure the language while MaxMind codes are a strict standard, see:
https://github.com/khr

[2015-05-21 05:40] diretur commented on #5
Hey Stanislav,

this is my mapping, but the Spanish language is not detected:

$this->language_mappings = array(
'IT' => 'it', //Italy
'ES' => 'es',  //Spain
'CO' => 'es',  //Colombia
'CL' => 'es',  //Chile
'MX' => 'es',  //Mexico
'BO' => 'es',  //Bolivia
'CR' => 'es',  //Costa Rica
'PE' => 'es',  //Peru
'AR' => 'es'  //Argentina
);

Thanks
Marco

Marco Toniolo
Via Medi 8c
6932 Breganzona
Switzerl

[2015-05-21 06:50] khromov commented on #5
@diretur

You will have to enable errors in the javascript like I explained and send a full debug log. Otherwise it's impossible to know what's wrong. This plugin is for developers, if you can't do debugging you should ask someone who does. :-)

[2015-05-21 08:03] diretur commented on #5
right, now it's on http://www.mtb-mag.com/

Marco Toniolo
Via Medi 8c
6932 Breganzona
Switzerland

phone: +41 79 643 18 36
www.mtb-mag.com | www.bdc-mag.com | www.ridingtroll.com
skype: diretur_marco

On 21 May 2015 at 08:50, Stanislav Khromov <notifications@github.com> wrote:

[2015-05-21 08:44] khromov commented on #5
@diretur

Works fine for me. When I go to that url I get redirected to the english version.

From the log:

[code]

I assume your default_language is "en", because it is not in your mapping array.

I can't see anything being wrong here, so I am unable to help you debug any further. May I suggest hiring a developer or use the built-in WPML feature. Closing.

[2015-05-21 08:44] #5 closed

[2015-05-21 08:47] khromov commented on #4
@tazzje

It is not possible to go further unless you provide full debug logs. Closing this.

[2015-05-21 08:47] #4 closed

[2015-05-21 08:52] khromov commented on #6
@hardeep360 All you have to do is create multiple variations of your pages (one for each language in WPML). Then you can use either this plugin or WPML:s own WPML Country Detector to redirect appropriately.

Closing this.

[2015-05-21 08:52] #6 closed

[2015-05-21 08:58] diretur commented on #5
It's the Spanish language that's not working, as I explained above.

Never mind, I will ask another developer

On Thursday, May 21, 2015, Stanislav Khromov <notifications@github.com>
wrote:

--
Marco Toniolo
+41796431836
MTB-MAG.com | BDC-MAG.com

[2015-05-21 09:28] khromov commented on #5
@diretur I understand what you are describing, but surely you understand that since I am not located in Spain I can't debug that specific problem for you. A developer with access to the PHP files will be able to help you better.

[2015-06-23 13:28] sessbach opened #8 "Cannot read property 'substr' of undefined"
Hi,

I'm trying to use your plugin and run in some issues. I know managed to get the plugin almost running but still get the following error (console)
[code]
browser-redirect-geoip.js?ver=4.0:94

I think the problem is somewhere here as the js does not get any browserlanguage back from the php.

[code]

browserLanguage just returns 'undefined'

Let me know if you need more information to provide a

[2015-06-23 16:00] khromov commented on #8
Hey @sessbach ,

Please inspect the AJAX request that goes off to `yoursite.com?wpml_geoip=1`
(Make sure to clear cache before.)

Or, just go to that URL in the browser and see if you get any errors.

Maybe it will be the same error as in #6 ?

[2015-06-23 16:17] sessbach commented on #8
I'm getting a 500 Internal Server. If I try to open the URL with the parameter ?wpml_geoip=1 I get the 500 as well.

I'm not using that Country Detector Plugin.

[2015-06-23 16:18] khromov commented on #8
@sessbach Try to look in the error logs for the web server and PHP, that should give you an idea as how to proceed.

[2015-06-23 16:39] sessbach commented on #8
Thank you. I think we are getting there. On the server error logs I see

[code]

[2015-06-23 19:02] khromov commented on #8
@sessbach I updated the code to check if the GeoIP library is already loaded before loading it again. Here is the changeset:
https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/commit/7a2fcefa583aa467d13cf9c0363198251e78522b

You can download the new version here on GitHub from the master branch,

[2015-06-24 08:42] sessbach commented on #8
Unfortunately this fix changes nothing.

If I check the existents of geoip_country_code_by_name() and geoip_country_name_by_name() in geoip.php I don't get a 500 error anymore. But the language is not detected.

[2015-06-27 14:02] khromov commented on #8
@sessbach You should check to see if some other code is loading the Maxmind GeoIP database. (The PHP errors shold show it) I know WPML have recently done some changes that may possibly include it.

There's also the aformentioned plugin:
https://wordpress.org/plugins/wpml-country-detector/

Closing this for now.

[2015-06-27 14:02] #8 closed

[2015-07-01 12:24] iPasqualito opened #9 "plugin cannot be activated, fatal error"
unexpected '[' on line 95:

$tmp_ip = explode(',', $_SERVER['HTTP_X_FORWARDED_FOR'])[0];

changed it to $tmp_ip = explode(',', $_SERVER['HTTP_X_FORWARDED_FOR'][0]);

and it works.

kind regards

[2015-07-01 13:08] khromov commented on #9
@iPasqualito The above code is PHP 5.4+ only, that's why you got the error. The way you have changed it doesn't retain the functionality.

[2015-07-01 13:08] #9 closed

[2015-07-15 00:09] leeharris opened #10 "Getting the following error when activating the plugin"
Hey there,

I followed the steps and get the following error when trying to activate the plugin:

Parse error: syntax error, unexpected '[' in /wp-content/plugins/wp-wpml-geoip-browser-language-redirect-master/wpml-geoip-browser-language-redirect.php on line 95

;o)

[2015-07-15 01:52] khromov commented on #10
Should work with the changes added in @79ea06d20e27798b7f5e565de33a167190819e7c

[2015-07-15 01:52] #10 closed

[2015-07-15 01:53] khromov commented on #9
Compatibility with PHP versions lower than 5.4 is now restored as per 79ea06d20e27798b7f5e565de33a167190819e7c

[2016-02-22 02:39] mastercho opened #12 "Its not working"
Im using WPML 3.3.5 version, i setup as your read me,
its not working and after i enable debug from js file i got  this error on console

Uncaught TypeError: Cannot read property 'log' of undefined browser-redirect-geoip.js:23

Please fix your plugin man!

[2016-02-22 11:46] khromov commented on #12
@mastercho When debugging is enabled, the script uses `console.log` to display debugging logic. This is a standard approach and if you have some code that override `console.log` you need to remove it first. (For example by switching to a default theme like Twenty Eleven).

https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/blob/master/js/browser-redirect-geoip.js#L23

[2016-02-22 11:47] khromov commented on #12
@mastercho If you figure out what the problem is, feel free to post the debug log in a new issue.

[2016-02-22 11:47] #12 closed

[2016-02-22 12:12] mastercho opened #13 "You dont take serious the bug...."
Ok you closed my recent ticked, so i install fresh wordpress whit WPML and your plugin, opened from fresh installed firefox because i have some extensions on chrome, and still same problem.

Uncaught TypeError: Cannot read property 'log' of undefined browser-redirect-geoip.js:23

But nevermind i see there's a lot of reports not only in git you have it also in your official website comments that it

[2016-02-22 13:32] khromov commented on #13
@mastercho The plugin works fine for me and many other people, but it's not an "activate it and forget it" solution, it might require additional configuration or adaption to your specific environment.

It's impossible to provide support if you can't even get the javascript console to work, but if you do, feel free to post any issues you are having.

[2016-02-22 13:44] mastercho commented on #13
Tell me which version of wpml you use and what theme so i can try it

[2016-02-23 16:24] mastercho commented on #13
Also which version of wordpress ?

[2016-02-26 21:42] 7wonders commented on #13
I have WPML 3.3.6 with x theme, latest WP etc and it works great. Slight delay in the redirect but otherwise flawless.

[2016-02-27 01:06] mastercho commented on #13
I have removed WPML 3.3.5 and install WPML 3.3.6 but was still same, so next what i done was to remove redirect plugin and reupload & install it again, after this magic happen its redirected me to country based IP so i refresh ta page to see is working good? But after i reload the page for second time its not redirected me, i clean cache and cookies and wait 30 min and try it again and again redir

[2016-02-27 04:15] khromov commented on #13
Sounds like you got it working @mastercho !

The reason for performing only a single redirect is to not force the user into a specific language. This mimics the default WPML implementation.

For more on the reasoning, see:
https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/pull/11#issuecomment-187177123

[2016-02-27 14:29] mastercho commented on #13
So theres no way to force always country base ip?

[2016-02-27 18:46] khromov commented on #13
@mastercho Forcing is a bad idea, but If you check that pull request, it contains changes to do that, but it's up to you to integrate them if you want it.

[2016-02-27 21:50] mastercho commented on #13
So if i add var forceRedirect  = true; on JS file will force them?

[2016-02-27 22:01] khromov commented on #13
@mastercho No, but replacing the file `browser-redirect-geoip.js` with the proposed changeset should get you there.

https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/blob/c172bae1532151e7719218cbc3e07e97b996ee63/js/browser-redirect-geoip.js

[2016-02-27 22:46] mastercho commented on #13
Okay thank you my friend.

[2016-02-27 22:46] #13 closed

[2016-05-25 14:21] dripppple opened #14 "WPML_GeoIP_IPResolver.class.php"
Hey, I followed your readme but I cant understand what I should do in the **WPML_GeoIP_IPResolver.class.php**

My site is in english

 But when someone from Sweden enter I want it to redirect to

You say I should modify the **language_mappings** and **default_language** but to what?

[code]

[code]

Whats wrong here?

[2016-06-22 00:34] andrebellafronte commented on #14
In default WPML language you set the default language if the language referenced in `array` is not found, ex, my country is Brazil (BR) and you dont mapped a language for this country, the default is `$this->default_language = 'en';`

[2016-06-22 00:38] andrekutianski opened #15 "ReferenceError: browserLanguage is not defined"
The file `browser-redirect-geoip.js` is returning the information:

and `https://www.domain.com/?wpml_geoip=1` return a 500 error.

The redirection don't occur

WP version 4.5.3 and WPML with the latest version

[2016-06-30 14:12] nikolasuperscript opened #16 "Cookie _icl_current_language always changing to en"
Hello,
As I noticed, redirection works only on first load, after refreshing initial url, it doesnt redirect anymore.

I saw that in cookie section of chrome, it first puts the correct language code, but after refresh, it changes the value to the default...

Any idea ? I am new, I dont know if I asked the question the right way...

[2016-06-30 14:27] khromov commented on #16
@nikolasuperscript Only redirecting on the first page load is the intended behaviour, we don't want to force users into a potential redirect loop or force them to use the site in a specific language based on their location.

If you have any other issues, feel free to post them here or in a new issue.

[2016-06-30 14:27] #16 closed

[2016-06-30 14:28] nikolasuperscript commented on #16
But if they come again on our website, they will have content in default langauge, it wont redirect them again ?

[2016-06-30 14:48] khromov commented on #16
@nikolasuperscript If they return back the next day and again go to the "wrong" language, they will not be redirected again, this is correct.

The cookie lifetime is set by WPML (not sure if it's configurable though). It seems to be 24 hours. But you can change it manually here:
https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/blob/master/js/browser-redirect-geoip.js#L59

[2016-06-30 14:49] khromov commented on #16
If you want to debug it, check the presence of the `_icl_visitor_lang_js` and its lifetime.

[2016-12-12 17:12] 383creative opened #17 "Redirection not working"
Installed plugin and changed language mapping arrays. Testing from a GB IP Address and I should have been redirected to /gb language code but no redirection takes place. Site hosted with Pantheon.

![image](https://cloud.githubusercontent.com/assets/2375207/21108440/18d7f8ce-c063-11e6-9b96-26779b6d47fc.png)

![image](https://cloud.githubusercontent.com/assets/2375207/21108454/26b65760-c063-11e6-84

[2016-12-12 17:21] khromov commented on #17
Hi,

This looks a little crazy, `console.log` is a standard function yet it's not available here. Can you try using a different browser, and if that doesn't work, can you try using a standard theme and disable any plugins you are running. (Alternatively, try running this plugin on a clean WP install with Twenty Sixteen, WPML and this plugin only and see if that resolves the issue.)

[2016-12-12 17:46] 383creative commented on #17
Ok so since we're on Pantheon it was easy for me to spin up a clean WP install. All I installed was WPML and your plugin.

![image](https://cloud.githubusercontent.com/assets/2375207/21109839/cc1bbdf8-c068-11e6-9e64-c85750263bf5.png)

WPML Languages Enabled:

![image](https://cloud.githubusercontent.com/assets/2375207/21109877/f6308f56-c068-11e6-958b-46e707c32c12.png)

Still seem to be getting the

[2016-12-13 17:10] 383creative commented on #17
I was able to get the console.log stuff to print by removing the IF statements.

![image](https://cloud.githubusercontent.com/assets/2375207/21150205/27302b16-c12c-11e6-8fbe-ba27e0e3a7e3.png)

As you can see, it thinks I'm in the US. I might be way off on this but I believe it's because Pantheon/Varnish doesn't return the clients true IP true, unless you use ($_SERVER['REMOTE_ADDR']) to get the IP

[2016-12-14 13:33] khromov commented on #17
@383creative Sounds like it. What is the response if you type the following URL in your browser: `http://example.com/?wpml_geoip=1` - it should tell you which country the plugin thinks you're in.

The plugin first checks for `$_SERVER['HTTP_X_FORWARDED_FOR']` (which is what a caching proxy would typically use) and then falls back to `$_SERVER['REMOTE_ADDR']`.

You can try checking with Pantheon wh

[2016-12-14 14:57] 383creative commented on #17
Ahh thanks for the ?wpml_geoip=1 trick. It shows me as country code en (which is not the case). In order to get the correct IP what should we change? Is it this part in wpml-geoip-browser-language-redirect.php?

function register_endpoints()
	{
		if(intval(get_query_var('wpml_geoip')) == 1)
		{
			include('WPML_GeoIP_IPResolver.class.php');
			$ipr = new WPML_GeoIP_IPResolver();

			$ipr->set_json

[2016-12-14 15:19] 383creative commented on #17
I did this:

`
function register_endpoints()
	{
		if(intval(get_query_var('wpml_geoip')) == 1)
		{
			include('WPML_GeoIP_IPResolver.class.php');
			$ipr = new WPML_GeoIP_IPResolver();

			$ipr->set_json_header();

				$tmp_ip = $_SERVER['REMOTE_ADDR'];

			echo $ipr->ip_to_wpml_country_code($tmp_ip) . '<br>';
			echo $_SERVER['REMOTE_ADDR'];
			die();
		}
	}
}
`
And it returns the correct IP addr

[2016-12-19 19:30] khromov commented on #17
@383creative Might be. What is the IP in question (you can hide the last octet) if you want.

[2017-01-13 05:28] ryanyagin1902 commented on #17
Hi @khromov

We really appreciate your plugin to solve ip location redirect, we also encounter this same issue yet we were able to resolve this.  As our gratitude to your plugin please see what we updated on your code, hope this helps you in maintaining your plugin.

On ﻿wpml-geoip-browser-language-redirect.php, we updated the following:

1. On function __construct, we replace your action print_sc

[2017-01-13 11:04] khromov commented on #17
@ryanyagin1902 Please send these code changes as a [pull request](https://help.github.com/articles/about-pull-requests/), and I'd be happy to merge them.

[2017-01-16 02:53] ryanyagin1902 commented on #17
@khromov i created branch on my local copy but I cannot push it on your git

[2017-03-02 06:17] andreasneuber opened #18 "WPML API Hooks - replace "get_ls_languages" with more future-proof "wpml_active_languages""
By the time this plugin was created WPML didn't provide yet the "WPML API Hooks" it has now - https://wpml.org/documentation/support/wpml-coding-api/wpml-hooks-reference/

Though there are no plans to deprecate the "get_ls_languages" method anytime soon, its more "future-proof" to replace it with WPML API hook "wpml_active_languages". https://wpml.org/wpml-hook/wpml_active_languages/

[2017-03-02 08:13] #18 closed

[2017-03-02 08:13] khromov commented on #18
Thanks for the PR!

[2017-03-02 08:38] andreasneuber commented on #18
You welcome :-)

[2017-03-05 14:56] andreasneuber opened #20 "Add a settings page to make language mapping easier"
Actually "issue" is wrong term here, more a "nice to have".. :-)

What about storing the country "code => language" combos and "default language mapping" in 2 wp options, and having a settings page for it?
Would make setup/config easier (though current way is pretty easy, for users with coding skills).

![settings_page_1](https://cloud.githubusercontent.com/assets/20212159/23588309/702e5454-01c4-1

[2017-03-05 15:06] andreasneuber commented on #20
For demo purposes: https://github.com/andreasneuber/wp-wpml-geoip-browser-language-redirect/tree/plugin_settings_page_demo_1  - branch: "plugin_settings_page_demo_1"

[2017-03-06 02:07] khromov commented on #20
@andreasneuber Sounds like a great idea, similar to what I had planned for the plugin. If you add a PR I'd be happy to merge it.

[2017-03-06 20:28] andreasneuber commented on #20
Happy to hear. I will polish it a bit more  and add a PR here then.

[2017-03-11 21:36] khromov commented on #20
Closed via #21

[2017-03-11 21:36] #20 closed

[2017-03-16 10:08] uptimex opened #22 "I'm getting javascript error see screenshot"
![n2ylp0sorevnm6 1](https://cloud.githubusercontent.com/assets/6552242/23991207/f283bd3c-0a51-11e7-90fc-0577f2b793d2.jpg)

[2017-03-16 11:11] uptimex commented on #22
Ok I resolved it but not sure if correct way, please check:
1. First of all I deleted re-declarations of these functions in /lib/geoip-api-php/geoip.inc to prevent the fatal error during ajax request

- geoip_country_code_by_name_v6
- geoip_country_code_by_name
- geoip_country_name_by_name
- geoip_country_name_by_name_v6

2. Add `var browserLanguage;` here `var browserLanguage;
                jQu

[2017-03-16 11:12] uptimex commented on #15
I think it is related to this [https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/issues/22](url)

[2017-05-22 15:59] markusila commented on #22
Sorry, can you please explain your solution a little more?
I got the same problem.
Where do you set this global browserLanguage?

[2017-05-22 16:06] khromov commented on #22
@markusila The `browserLanguage` issue only appears if the AJAX request to check the current user language fails, add `?wpml_geoip=1` to your site URL and make sure you don't have any errors or just a white screen. For example: `http://example.com/?wpml_geoip=1`.

[2017-05-22 16:31] markusila commented on #22
http://example.com/?wpml_geoip=1. gives me {"country_code":false}

[2017-05-22 16:32] markusila commented on #22
I can't get it working here https://serveandtravel.com

[2017-05-23 06:18] uptimex commented on #22
The problem is, that you can't get variable in the AJAX function if it is not global, so just add a declaration of variable before AJAX function like this.
`var browserLanguage;`

[2017-08-01 08:03] pmjvanwijk opened #23 "Redirect not working: {"country_code":false}"
hi khromov,

thanks for this great plugin, unfortunately the redirect is not working for me.

When I visit https://www.mysite.com/?wpml_geoip=1, I get:

{"country_code":false}.

I'm in Kenya.

My console returns this when I'm in debug mode:

Uncaught TypeError: Cannot read property 'log' of undefined
    at HTMLDocument.<anonymous> (browser-redirect-geoip.js?ver=4.8:23)
    at i (jquery.js?ver=1.1

[2017-08-01 12:01] khromov commented on #23
@pmjvanwijk Can you try updating your `GeoIP.dat` file and see if you still get `undefined` as your country code? You can find a new copy here: https://dev.maxmind.com/geoip/legacy/install/country/

[2017-08-01 12:12] pmjvanwijk commented on #23
Hi Stanislav, thanks for your reply! Just installed the new version but it stays the same. Our website is https://charlies-travels.com.

[2017-08-01 12:20] khromov commented on #23
@pmjvanwijk Must be some issue with the Maxmind library. Please check your server log for errors. This issue might be related: https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/issues/2

[2017-08-01 12:34] pmjvanwijk commented on #23
I turned debug mode on and I got this error message:
Warning: Invalid argument supplied for foreach() in /www/wp-content/plugins/wp-wpml-geoip-browser-language-redirect-master/WPML_GeoIP_IPResolver.class.php on line 71

This is line 71 in my file:
foreach($this->language_mappings as $maxmind_code => $wpml_code)

[2017-08-01 12:50] khromov commented on #23
@pmjvanwijk I know @andreasneuber added an options page for the mappings a while back, did you configure them? :)

Related: https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/issues/20

[2017-08-01 13:01] pmjvanwijk commented on #23
I’m not sure what you mean but I’ve configured the mappings like this:

$this->language_mappings = array(
			'NL' => 'nl', //The Netherlands
			'DE' => 'de', //Germany
			'KE' => 'nl' //Kenya
		);

[2017-08-01 13:02] khromov commented on #23
@pmjvanwijk Mappings are handled through the web UI now. The readme documentation is out of date. See the ticket I linked above. 😄

[2017-08-01 13:08] pmjvanwijk commented on #23
Thanks! Good to know. I've reinstalled the plugin. I don't see any country codes in the settings menu.

<img width="324" alt="screen shot 2017-08-01 at 4 06 23 pm" src="https://user-images.githubusercontent.com/8825641/28826639-78a67aa6-76d3-11e7-95f9-e238ff4a220a.png">

[2017-08-01 13:19] khromov commented on #23
@pmjvanwijk Do you have WPML installed and configured for these languages? In that case I'll have to ask @andreasneuber if perhaps the integration needs to be updated.

[2017-08-01 13:20] pmjvanwijk commented on #23
Yep!
<img width="638" alt="screen shot 2017-08-01 at 4 19 57 pm" src="https://user-images.githubusercontent.com/8825641/28827147-4c277154-76d5-11e7-98e4-ab6b8c33edc2.png">

[2017-08-09 13:39] khromov commented on #23
@pmjvanwijk Please try with the latest version from GitHub - @andreasneuber added patch to fix this.

[2017-09-04 15:47] yujulio opened #26 "Preventing user from entering another language once redirected"
Hi, is there any way to prevent the user from going to another language once redirected?

I  have seen the user deleting the language code suffix from the URL once redirected to access to the main language but what if I dont want him to see it, is there any way to check if he tries to do this then he will be redirected again to his country language?

[2017-09-04 21:05] khromov commented on #26
@yujulio Only redirecting on the first page load is the intended behaviour, we don't want to force users into a potential redirect loop or force them to use the site in a specific language based on their location.

You can modify the javascript code yourself to force redirection, it's not difficult. But I do not recommend it.

[2017-09-04 21:05] #26 closed

[2017-10-16 17:37] emarrjpa opened #27 "Redirection Not Working"
Hello,
I love the idea of your plugin and definitely willing to support it once I get it working.

I'm unable to get the redirect to work with WPML. I'm currently using a VPN to test the redirect, but no matter which country I use I seem to get the same version of the site.

Thanks!

[2017-10-17 04:06] emarrjpa commented on #27
This was my error log:

browser-redirect-geoip.js:23 Uncaught TypeError: Cannot read property 'log' of undefined
    at HTMLDocument.<anonymous> (browser-redirect-geoip.js:23)
    at i (jquery.js:2)
    at Object.fireWith [as resolveWith] (jquery.js:2)
    at Function.ready (jquery.js:2)
    at HTMLDocument.K (jquery.js:2)

[2017-10-17 12:06] khromov commented on #27
@emarrjpa Please try in Firefox or Chrome. `console.log()` should be defined. If you still have issues, try changing to a default theme and try again.

[2017-10-17 14:03] emarrjpa commented on #27
Thanks, tried different browsers and default Twenty Seventeen theme and still got the same error. Any other ideas?

[2017-10-18 12:23] khromov commented on #27
`Console.log()` not working appears to be a separate issue from this plugin, so I can't provide support for that. Maybe someone else can, so I'll leave this ticket open.

[2017-10-19 20:19] emarrjpa commented on #27
I've figured this out and now the debugger is working and it is redirecting correctly from the home page. I removed the "IE 8/9 Fix" from the top of the JS file and then the debugger worked perfectly. I do have another question...Does the redirect work for ONLY the homepage or should it work for subpages as well? For example, if I visit example.com/subpage will I get redirected to example.com/en-g

[2017-10-19 22:11] khromov commented on #27
@emarrjpa Yes, you will be redirected if a translation for the subpage exists in the language we think the users is from based off of the geoip response.

However you will only be redirected on your very first visit to the site. A cookie is then set to prevent further redirection, because we don't want to force the user to use a specific language, just nudge them in the right, localized direction.

[2017-10-22 16:14] yovek7 commented on #27
@emarrjpa can you please tell me how you got the solution for the redirect to work? I'm having the same issue

[2017-10-30 17:23] emarrjpa commented on #27
@yovek7 Sorry for the delay, just saw this.  I removed the "IE 8/9 Fix" from the top of the JS file and then the debugger worked perfectly. Used a VPN to test the redirect and everything works perfectly.

Thanks, @khromov! Your plugin was a lifesaver!

[2017-12-26 13:10] gwynnbleiidd opened #28 "Не работает редирект, не определяет регион."
Привет, собственно как и в тикетах ниже, не срабатывает редирект.
Делаю пока на локальной машине, при проверке **?wpml_geoip=1**
Выдаёт такое
[code]

Проверяю IP по базе в https://www.maxmind.com/ru/locate-my-ip-address, определяет все данные.
Базу с сайта обновил, на локальной машине стоит OpenServer, wp и wpml свежие.

Log консоли:

[code]

[2017-12-26 13:26] gwynnbleiidd commented on #28
Нашёл причину, всё работает.

[2017-12-26 13:26] #28 closed, assigned to nobody

[2018-04-13 14:01] tomeda opened #29 "Exclude country from GEO redirection"
![wpml geo redirect performance wordpress](https://user-images.githubusercontent.com/10818796/38738802-bea595ba-3f3b-11e8-91b7-733f56d9bb85.png)

This is my current settings. But actually I want to disable geo redirects just for one county and that's US, because most of the Google bot are coming from US servers and I see that mainly my english content is indexed and bulgarian is missing. Is this p

[2018-04-13 14:25] khromov commented on #29
That is a good idea, but it's not currently possible. If you end up implementing it, feel free to submit a pull request.

[2018-04-13 14:25] #27 closed

[2018-04-13 14:26] #23 closed

[2018-04-13 14:26] #22 closed

[2018-04-13 14:26] #15 closed

[2018-04-13 14:26] #14 closed

[2018-04-13 14:26] #17 closed

[2018-04-13 14:43] tomeda commented on #29
Thanks for the fast response, I'm actually a bad coder and I'm not sure if I can do it. However will look for solution.

[2019-08-30 07:28] sneogi-cci opened #32 "Redirect based on Geolocation is not working"
Hi @khromov ,

I am using WPML version 4.1.3 on my website. I have installed the wonderful plugin you developed on my website. However, it doesn't seem to work for me. Is it still compatible? Below attached is my setting for the plugin
![WPML GEO Redirect ‹ Creative Capsule — WordPress](https://user-images.githubusercontent.com/46446268/64001625-db995b80-cb25-11e9-86ad-cdb62561cb62.png)

[2019-09-03 10:22] stefanomarra commented on #32
Hi @khromov,
I'm experiencing the same issue.
Here's what I did:

1. Activated the plugin
2. Enabled the "Browser language redirect" option in WPML
3. Set some language mapping
4. Trying the redirect on the frontend with chrome plugin TunnelBear VPN

Unfortunately all the countries set in the mapping option are not affected by the plugin

[2019-09-03 14:08] khromov commented on #32
Hi! The app features an extensive debug mode which you can reach by opening the [developer console](https://developers.google.com/web/tools/chrome-devtools/console/) in your browser.

If you post your console logs, we can look into this further.

One important caveat of this plugin is that it redirects the user **only once**. It's not meant as a way to block users from visiting other languages, ju

[2019-09-04 04:53] sneogi-cci commented on #32
Hi @khromov, thanks a lot for your reply.

I have checked the console log on my front end by connecting to Tunnelbear VPN and switching my country to Germany. I don't see any information which relates to the plugin. Also, I am performing this in an Incognito browser so if it was already redirected (which I think it didn't) then again it should have been redirected from a new incognito window.

[2019-09-04 14:46] khromov commented on #32
Hi @sneogi-cci

Seems I'm a bit rusty on the code. You need to edit a line in the main JavaScript file to enable debugging:
https://github.com/khromov/wp-wpml-geoip-browser-language-redirect/blob/master/js/browser-redirect-geoip.js#L3

Change that line to read `var GEOIP_DEBUG = true;`. If after that you get console errors about `console` or `log` not being defined, try removing line 5-18 in that

[2019-09-11 11:59] eimantaaas commented on #32
Same here, I'm using WPML 4.2.8. Did all actions mentioned above and if I check website source code, I can see that plugin is not replacing original WPML browser redirection script, that's why plugin does not have any effect.

Maybe you can check for fix @khromov ? Thanks !

[2019-09-11 12:28] khromov commented on #32
Regarding script replacement, maybe @andreasneuber has some ideas why it wouldn't work?

[2019-10-03 14:39] eimantaaas commented on #32
@khromov found the solution

in `wpml-geoip-browser-language-redirect.php` file replace 18 line to this
`add_action('wp_enqueue_scripts', array(&$this, 'enqueue_scripts'), 100);`

and in replace 136 line to this
`wp_enqueue_script('wpml-browser-redirect', plugins_url('js/browser-redirect-geoip.js', __FILE__) , array('jquery', 'jquery-cookie'));`